.Search_Results{
    width: 30%;
}
.Search_Results div{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius:1rem ;
    border: 1px solid rgb(114, 110, 110);
    overflow: hidden;
}

.Search_Results h1{
    background-color: aqua;
    padding: 15px 15px;
}
.Search_Results ul {
    list-style: none;
}
.Search_Results ul  li{
    padding: 10px 15px;
}
.Search_Results ul  li:hover{
    background-color: rgb(114, 110, 110);
}
.Search_Results ul  li span{
    float: right;
}